.page h2 strong a {
  display: inline-block;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1px 0;
  border-width: 0;
  -webkit-transition: all ease-out .15s;
  transition: all ease-out .15s;
  background: #93F29E;
  font-weight: 700;
  color: #007916;
  padding: 8px 14px 4px;
  border-bottom: 4px solid #007916;
  font-size: 22px; }
  .page h2 strong a:active {
    outline: 0; }
  .page h2 strong a:focus {
    color: #333;
    text-decoration: none;
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px; }
  .page h2 strong a:hover {
    color: #333;
    text-decoration: none; }
  .page h2 strong a:active, .page h2 strong a:focus .page h2 strong a:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3); }

.table-resite .table {
  overflow: auto;
  display: block; }
.table-resite .tr {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  position: relative; }
.table-resite .first_tr {
  background-color: #918f8f;
  color: #fff; }
.table-resite .td {
  padding: 4px;
  height: auto;
  border: 1px solid #edecec;
  background-color: #efd6be; }
.table-resite .first_tr .td {
  background-color: #918f8f;
  color: #fff; }
.table-resite .table .tr:first-child .td {
  /*height: 70px !important;*/
  font-size: 12px; }
.table-resite .table .tr:first-child .td1 {
  background-color: transparent !important; }
.table-resite .table .tr .td {
  width: 115px;
  min-height: 50px;
  display: inline-block;
  box-sizing: content-box;
  min-width: 70px; }
.table-resite .table .tr .td1 {
  width: 200px;
  background-color: rgba(237, 163, 146, 0.5);
  font-weight: 700;
  min-width: 100px !important; }
.table-resite .table .tr .td input {
  width: 100%;
  border: none;
  text-align: center;
  background-color: transparent;
  line-height: 38px;
  cursor: pointer; }
.table-resite .tr:hover .td {
  background-color: #ee9585 !important;
  font-weight: 700;
  opacity: 0.7; }
.table-resite .td:hover {
  opacity: 1 !important; }
.table-resite .td2, .table-resite .td3 {
  position: relative;
  border: 1px dashed rgba(235, 58, 60, 0.5); }
.table-resite .td1 {
  border-right: 1px dashed rgba(235, 58, 60, 0.5); }
.table-resite .td4 {
  border-left: 1px dashed rgba(235, 58, 60, 0.5); }
.table-resite .first_tr .td2,
.table-resite .first_tr .td3 {
  border: 1px solid #edecec;
  border-bottom: 1px dashed rgba(235, 58, 60, 0.5); }
.table-resite .first_tr .td1,
.table-resite .first_tr .td4 {
  border-left: 1px solid #edecec;
  border-right: 1px solid #edecec; }
.table-resite button.clear {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px; }
.table-resite button.toolbarBluebtn {
  border-radius: 5px;
  border: none;
  background-color: #1291ff;
  color: #fff;
  padding: 5px 15px;
  margin-right: 10px; }
.table-resite .tr.tr-text .td {
  border: 1px solid #edecec; }
.table-resite .td.td-x3 span {
  position: absolute;
  width: 305%;
  z-index: 5;
  background: #edecec;
  padding: 5px;
  line-height: 55px;
  text-align: center;
  font-weight: 700;
  margin: -4px;
  height: 100%; }
.table-resite .td.td-x5 {
  width: 100% !important;
  position: sticky; }
.table-resite .td.td-x5 span {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: #efd6be;
  padding: 5px;
  line-height: 55px;
  text-align: center;
  font-weight: 700;
  margin: -4px;
  height: 100%; }

/*# sourceMappingURL=resite.css.map */
