/*HEADER PC START*/
#header {
	background-color: white;
	padding-top: 15px;
	padding-bottoM: 15px;
	color: #333;
}

.top{
	background: #EEE;
    font-size: 12px;
    line-height: 12px;
    z-index: 12 !important;
    transition: box-shadow 200ms;
    box-shadow: 0 3px 3px #CCC;
    padding: 15px;
}

.logo-header {
	font-size: 37px;
}

.description-header {
	position: relative;
	font-size: 25px;
	top: 10px;
}
/*HEADER PC END*/


@media screen and (max-width: 768px) {
	/*HEADER MOBILE TABLET START*/
	#header {
		text-align: center;
	} /*HEADER MOBILE TABLET END*/
}